<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sigma_infinitescroll>
            <general>
                <enabled>1</enabled>
                <threshold>300</threshold>
            </general>
        </sigma_infinitescroll>
    </default>
</config>
