<?xml version="1.0"?>
<!--
/**
 * Sigma CustomLink Module Declaration
 *
 * @category  Sigma
 * @package   Sigma_CustomLink
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sigma_CustomLink" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Theme"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
