<?xml version="1.0"?>
<!--
/**
 * Sigma ProductSlider Admin System Configuration
 *
 * @category  Sigma
 * @package   Sigma_ProductSlider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog" translate="label" type="text" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="sigma_product_slider" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Slider Settings</label>
                <comment><![CDATA[Global settings for Sigma Product Slider widget]]></comment>
                
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Globally enable or disable all product sliders</comment>
                </field>
                
                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Lifetime (seconds)</label>
                    <validate>validate-number</validate>
                    <comment>Cache lifetime for slider data. Set to 0 to disable caching.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="lazy_load" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Lazy Loading</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Lazy load product images for better performance</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="default_image_width" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Image Width</label>
                    <validate>validate-number</validate>
                    <comment>Default product image width in pixels</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="default_image_height" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Image Height</label>
                    <validate>validate-number</validate>
                    <comment>Default product image height in pixels</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
            </group>
        </section>
    </system>
</config>
