<?xml version="1.0"?>
<!--
/**
 * Sigma PlpCustomization Admin System Configuration
 *
 * @category  Sigma
 * @package   Sigma_PlpCustomization
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog" translate="label" type="text" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="plp_customization" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Listing Page Customization</label>
                <comment><![CDATA[Configure visibility of Wishlist and Compare features on Product Listing Pages]]></comment>
                
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable PLP Customization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable custom visibility settings for PLP</comment>
                </field>
                
                <field id="show_wishlist" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show or hide "Add to Wishlist" button on product listing pages</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="show_compare" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Add to Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show or hide "Add to Compare" button on product listing pages</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="hide_compare_sidebar" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Compare Products Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hide the Compare Products sidebar block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="hide_wishlist_sidebar" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Wishlist Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hide the Wishlist sidebar block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
            </group>
        </section>
    </system>
</config>
